body, html {
    height: 100%;
}

.my-height{
	height: 100%;
}

.my-input{
	border: 1px solid #000!important;
	width: 300px!important;
}

body{

	> div, > div > div,  > div > div > div{
		height: 100%;
	}

	background: #eeeeee;
	height: 100%;

	.first-row{
		height: 100%;
	}

	.left-side{
		background: #fff;
		border-right: 3px solid #000;
		width: 14%;
		height: 100%;
		float: left;

		.top{
			background: #597eaa;
			padding-top: 65px;

			.my-project-text{
				background: #6fa8dc;
				padding: 5px;
				color: #fff;
			}
		}
	}

	.right-side{
		width: 86%;
		float: right;
	}

	.footer{
		background: #cccccc;
		text-align: center;
		padding: 10px;

		a{
			color: #676873;
		}
	}

	.app-box{
		border: 3px solid #000;
		margin-top: 65px;
		margin-left: 30px;
		min-height: 500px;
		background: #fff;
		padding: 20px;

		.app-box-title{
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
}



